
.nav{
    background-color: rgb(29, 23, 23);
}

.brand-color{
    color: rgb(255, 181, 43);
}

.content h2{
    margin-bottom: 20px;
    text-align: center;
}

.under-line{
    height: 2px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid rgb(255, 181, 43);
}


.img-food{
    border-radius: 5px;
    max-height: 186px;
    
}

